
<div class="demo-ribbon"></div>
<main class="demo-main mdl-layout__content">
  <div class="demo-container mdl-grid">
    <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
    <div class="demo-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col">
      <div class="demo-crumbs mdl-color-text--grey-500">
        Adventure &gt; Main Quest &gt; The Voting Game
      </div>

      <h3>The Voting Game</h3>

        <h4>Coming Soon!</h4>
        <span style="visibility: hidden">
        Create a folder called "adventure1" for all your work for this adventure. This folder will be checked into your repository on github. On github, you will have one repository as part of an organization. This is where you will upload all of your adventures to be graded. Create a directory/folder on your computer that will contain all of your adventures for this course. For example:
        </span>
        
    </div>
  </div>
</main>
