
<div class="demo-ribbon"></div>
<main class="demo-main mdl-layout__content">
  <div class="demo-container mdl-grid">
    <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
    <div class="demo-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col">
      <div class="demo-crumbs mdl-color-text--grey-500">
        Adventure &gt; Main Quest &gt; The Voting Game
      </div>

      <h3>The Voting Game</h3>

        <h4>Summary</h4>
        You and your group will be building a card game and making it an online card game that you can play with your friends. You will be able to create games, invite friends, track rankings with friends, and more! 

        <ul class="toc">
          <a href="#requirements">Requirements</a>
          <a href="#grading_criteria">Grading Criteria</a>
          <a href="#implmentation">Project Implmentation</a>
          <a href="#presentation">Presentation</a>
        </ul>

        <h4 id="requirements">Requirements</h4>

        <ol class="requirements">
        	<li>As a <span class="text-primary">user</span>, I should be able to create a game.
        		<ol><li>As a <span class="text-primary">user</span>, I should be able to create new question cards that will ask any question the user inputs for that card. (Imagine having blank cards that you can write your questions on)</li></ol>
        	</li>
        	<li>As a <span class="text-primary">user</span>, I should be able to invite unique people to a game I created. I can send invites via email and facebook. 
        		<ol><li>(For extra credit, let the user set preferences for how they wish to be notified for being invited email vs. facebook vs. desktop notification vs. what ever other notifications you allow)</li></ol>
        	</li>
        	<li>As a <span class="text-primary">user</span>, I should be able to join a game.</li>
        	<li>As a <span class="text-accent">system</span>, I will allow a game to be started once 5 or more unique people join.</li>
        	<li>As a <span class="text-primary">user</span>, if I created a game, I should be notified once 5 people have joined the game. </li>
        	<li>As a <span class="text-primary">user</span>, if I created a game, I should be able to start the game once it has enough players.</li>
        	<li>As a <span class="text-primary">user</span>, once a game is started, I should not be able to join.</li>
        	<li>As a <span class="text-accent">system</span>, I should randomly pick a question to show the players.
        		<ol><li>This question must be a unique question to this game. Aka no duplicates questions may be asked during one game</li></ol>
        	</li>
        	<li>As a <span class="text-primary">user</span>, I should be able to vote for anthoer player as my answer to the question.</li>
        	<li>As a <span class="text-accent">system</span>, I should collect all of the answers and once I have them all, I should show the players who had the most votes. (Note: What about ties? The player with the most votes wins this round.)</li>
        	<li>As a <span class="text-accent">system</span>, I should repeat asking questions (dealing question cards) and collecting answers until one player has won 5 times.</li>
        	<li>As a <span class="text-accent">system</span>, once somoeone has won 5 times, I should notify all the players who the winner is.</li>
        	<li>As a <span class="text-accent">system</span>, I should archive the game and the statistics for all of the players in the game so that they may go back and see how many games they won/lost.</li>
        	<li>As a <span class="text-primary">user</span>, I should be able to login and see my ranking and compare how many games I won with my friends. (Think leaderboards)</li>
        	<li>As a <span class="text-accent">system</span>, I should provide a way for an admin user to upload a bulk set of questions that would be used for all the games.</li>
        	<li>As a <span class="text-primary">user</span>, I should be able to register and create an account.</li>
        	<li>As a <span class="text-primary">user</span>, I should be able to sign in with Facebook, Google, or any other social network by using oauth</li> 
        </ol>

      <h4>Baseline Questions</h4>
      <section>
        Here are a bunch of questions from the game that you can use as data for development. Remember you have to
        support bulk upload of a sampl set of questions, so feel free to use these questions or create your own.
        <br>
        There are no constraints for format, for example, txt, cvs, json, as long as you can talk intelligently as to
        why you architected your application to handle that format.
        <br>There are more questions and styles of questions on the
        <a href="http://www.thevotinggame.com/The_Voting_Game.pdf">pdf</a> that these questions came from. If you cannot
        view the pdf, you might have to request it from their website. Don't forget that you can always create your
        own questions!
        <br><br>
        <ul style="list-style-type: none">
          <li>Who would try to talk down the price of Girl Scout Cookies?</li>
          <li>Who will show up to their high school reunion in a Lamborghini rental?</li>
          <li>Who clogs the toilet at their friend's house and says nothing?</li>
          <li>Whose Google search history would you like to see the most?</li>
          <li>Who would have the hardest time talking their way out of an insane asylum?</li>
          <li>Who will become really spiritual after a trip to Asia where they stayed at a 5-star hotel the whole time?</li>
          <li>Who was the oldest when they stopped believing in Santa Claus?</li>
          <li>Who seems like they were homeschooled?</li>
          <li>Who will marry someone who isn't born yet?</li>
          <li>Who will win the lottery but lose the ticket?</li>
          <li>Who will get into a fight with an elderly person and lose?</li>
          <li>Who has a secret crush on someone in the room?</li>
          <li>Who would be your one phone call if you got arrested?</li>
          <li>Who would survive the longest in a zombie apocalypse?</li>
          <li>Who, if called upon, would be able to give the best toast right now?</li>
          <li>Who is the most terrified of holding an infant?</li>
          <li>Who doesn't believe that we put a man on the moon?</li>
          <li>Who would be the best Wal-Mart greeter?</li>
          <li>Who will your great-grandchildren read about in school?</li>
          <li>Who has watched a whole season of a TV show without leaving the house?</li>
          <li>Who has thrown a birthday party for their dog or cat?</li>
          <li>Whose favorite drink is Mike's Hard Cranberry Lemonade?</li>
          <li>Who peaked in high school?</li>
          <li>Who gets vanilla when they go to Ben and Jerry's?</li>
          <li>Who has gotten bed sores from sitting on the couch?</li>
          <li>Who would pay the most to add or subtract a couple inches to/from their height?</li>
          <li>Who made the most money selling lemonade as a child?</li>
          <li>Who pees in the pool? Every time.</li>
          <li>Who could be the leader of a cult?</li>
          <li>Who has fallen for a Nigerian Prince scam?</li>
          <li>Who would do the best job singing the national anthem?</li>
          <li>Who has used something as a sex toy that is normally reserved for eating?</li>
          <li>Who would be the first picked for a threesome?</li>
          <li>Who would fail a drug test right now?</li>
          <li>Who has a Costco size pack of expired condoms?</li>
          <li>Who has left the most comments on porn videos?</li>
          <li>Who will be having the most sex in the retirement home?</li>
          <li>Who would have owned the most slaves if they lived in 1800?</li>
          <li>Who has spent the most time grooming their pubic hair?</li>
          <li>Who would have made an excellent Nazi?</li>
          <li>Who has more ropes than pillows in their bedroom?</li>
          <li>Who has a sex life that could rival a bonobo?</li>
          <li>Who is first in line for hell?</li>
        </ul>
      </section>
        
        <h4 id="grading_criteria">Grading Criteria</h4>
        Each team should submit all project files by pushing to their teams git repo on github before or on the due date of the project. You should include a build file in it for building your project into a WAR file for deployment in Tomcat.

        <h5 id="implmentation">Project Implmentation <small>450 xp</small></h5>
        The project should demostrate the above requirements.

        <h5 id="presentation">Presentation <small>50 xp</small></h5>
        Each team will be given 15-20 minutes to do the project demo. It should include a discussion about the design and implementation of the project followed by a live project demo in class.
    </div>
  </div>
</main>
