<div class="demo-ribbon"></div>
<main class="demo-main mdl-layout__content">
  <div class="demo-container mdl-grid">
    <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
    <div class="demo-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col">
      <div class="demo-crumbs mdl-color-text--grey-500">
        Adventure &gt; 5 &gt; WoW
      </div>

      <h3>World of Warcraft</h3>
        This is a fake adventure to help lift your spirits and cheer you up while you work on your other adventures.

		<h4>Rick Roll'd</h4>
		<section>
			<iframe width="420" height="315"
					src="https://www.youtube.com/embed/dQw4w9WgXcQ?autoplay=1&loop=1"
					frameborder="0" allowfullscreen></iframe>
		</section>

		<section class="ninja">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</section>

	</div>
  </div>
  
</main>
