<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
	<header class="section__play-btn mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-color--teal-100 mdl-color-text--white">
	  <i class="material-icons">apps</i>
	</header>
	<div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
	  <div class="mdl-card__supporting-text">
	    <h4>Adventures</h4>
	    <p>
	      Complete each adventure and upload your solution to your github repository.
	      <br><br>
	      There will be no late work accepted after the grade for that adventure has been posted.
	    </p>
	  </div>
	</div>
	</section>
	<section class="section--center mdl-grid mdl-grid--no-spacing">
	<div class="mdl-cell mdl-cell--12-col">

	  <div class="mdl-grid">
	    <div class="mdl-cell mdl-cell--4-col" ng-repeat="a in adventures">

	    	<!-- ng-click="goToAdventure(a.id);" -->
	      <div class="mdl-card mdl-shadow--2dp demo-card-event" ui-sref="adventure{{a.id}}">
	        <div class="mdl-card__title mdl-card--expand" ng-class="getClassForAdventure(a);">
	          <h4>
	            {{a.title}}
	          </h4>
	        </div>
	        <div class="mdl-card__supporting-text ellipsis" ng-bind-html="a.overview">
	        </div>
	        <div class="mdl-card__actions mdl-card--border mdl-color-text--white"  ng-class="getClassForAdventure(a);">
	          {{a.date}}
	          <div class="mdl-layout-spacer"></div>
	          {{a.xp}}
	        </div>
	        <div class="mdl-card__menu">
	          <i class="material-icons mdl-color-text--white">send</i>
	        </div>
	      </div>
	    </div>
	  </div>

	</div>
	</section>

	<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
	<div class="mdl-card mdl-cell mdl-cell--12-col">
	  <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
	    <h4 class="mdl-cell mdl-cell--12-col">Paper Ideas</h4>
	    <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
	      <div class="section__circle-container__circle mdl-color--primary"></div>
	    </div>
	    <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
	      <h4>Continious Integration</h4>
	      Continious Integration is a crucial part of streamlining development. Setup an CI server and document the process. 
	      <br><br>
	      By using git for other homeworks, you already have a head start. There are free tools like Jenkins that can help orchestrate everything. 
	      <br><br>
	      In your report, include the following items:
	      <ul>
	        <li>Intro to CI</li>
	        <li>The benifit of CI</li>
	        <li>The downsides of CI</li>
	        <li>Which tools did you use to build out your CI Server?</li>
	        <li>How does your CI work?</li>
	      </ul>
	      In addition, you will be required to give a small demostration of your CI Server.
	      <br><br>
	    </div>
	    <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
	      <div class="section__circle-container__circle mdl-color--primary"></div>
	    </div>
	    <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
	      <h4>JVM++</h4>
	      Look at other JVM languages, such as groovy, grails, jruby, scala, and how they are different for web development. Create a small project, either do the course project in this language, or choose a smaller project and run it by me first, to demostrate how this other JVM langauge handles web development. 
	      <br><br>
	      Write up a reporting comparing this JVM language's implementation for web development to standard Java ee development. 
	      In your report, include the following items:
	      <ul>
	        <li>Intro to your JVM Language</li>
	        <li>Featues of the langauge</li>
	        <li>Advantages and disadvantage of the language</li>
	        <li>How to get started doing web development using the language</li>
	      </ul>
	      Upload your project using this langauge to your github repo and email me your paper when you submit.
	      <br><br>
	    </div>
	    <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
	      <div class="section__circle-container__circle mdl-color--primary"></div>
	    </div>
	    <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
	      <h4>Web Containers</h4>
	      We will have looked at Tomcat and maybe even Jetty in class. Look at other web containers, such as glass fish, jboss, WebSphere, redhat, and write up a comparison of the pros and cons of each container. 
	      <br>
	      In your report, include the following items:
	      <ul>
	        <li>Intro to web containers</li>
	        <li>Featues of each web conatiners</li>
	        <li>Advantages and disadvantage of using each web container</li>
	        <li>How to use each web container</li>
	        <li>Best practices/comparison: does one web container solve problems another does not?</li>
	      </ul>
	      <br>
	    </div>
	    
	  </div>
	</div>
	</section>